<!doctype html>
<title>ArtNet</title>
<link rel="stylesheet" href="{{url_for('static', filename='sample.css') }}">
<body>
  <section class="content">
    <h1>Welcome to ArtNet</h1>
    <div>Upload an image, our model tries to detect people in it and
    indicate them with blue bounding boxes.</div>

    <form id="upload_form" action='upload_image' method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <div class="custom-file">
          <input type="file" name="image" id="image" required>
          <label for="image">Select image&hellip;</label>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>

  </section>
</body>
