body {
    font-family: arial;
}

section {
    padding: 10%;
}

#map {
    transform-origin: left top;
}

#upload_form {
    padding-top: 20vw;
}

img#map_background,
svg#map_bboxes {
    position: absolute;
}

img#map_background {
    opacity: 0.7;
}

rect {
    stroke: blue;
    stroke-width: 50;
    fill: blue;
    fill-opacity: 0.01;
}
